{% extends 'music/base.html' %}
<style>
		* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Baloo 2', cursive;
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.banner-text ul {
	height: 50px;
	float: right;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
.banner-text ul li:hover {
	cursor: pointer;
}
.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 25%;
}
.animation-area {
	background: linear-gradient(to left, #8942a8, #ba382f);
	width: 100%;
	height: 100vh;
}
.box-area-up {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area-dn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area-up li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animateup 10s linear infinite;
	top : 104%;
}
/*Moving from down to up*/
.box-area-up li:nth-child(1) {
	left: 5%;
	width: 70px;
	height: 70px;
	animation-delay: 2s;
}
.box-area-up li:nth-child(2) {
	left: 25%;
	width: 20px;
	height: 20px;
	animation-delay: 3s;
}
.box-area-up li:nth-child(3) {
	left: 45%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area-up li:nth-child(4) {
	left: 65%;
	width: 30px;
	height: 30px;
	animation-delay: 1s;
}
.box-area-up li:nth-child(5) {
	left: 85%;
	width: 60px;
	height: 60px;
	animation-delay: 4s;
}

.box-area-up li:nth-child(6) {
	left: 5%;
	width: 70px;
	height: 70px;
	animation-delay: 7s;
}
.box-area-up li:nth-child(7) {
	left: 25%;
	width: 20px;
	height: 20px;
	animation-delay: 9s;
}
.box-area-up li:nth-child(8) {
	left: 45%;
	width: 80px;
	height: 80px;
	animation-delay: 5s;
}
.box-area-up li:nth-child(9) {
	left: 65%;
	width: 30px;
	height: 30px;
	animation-delay: 6s;
}
.box-area-up li:nth-child(10) {
	left: 85%;
	width: 60px;
	height: 60px;
	animation-delay: 8s;
}
@keyframes animateup {
	0% {
		border-radius: 0%;
		/*background: yellow;*/
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		border-radius: 80%;
		/*background: red;*/
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}


/*Moving from up to down*/
.box-area-dn li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: transparent;
	animation: animatedn 10s linear infinite;
	bottom: 10%;
}
.box-area-dn li:nth-child(1) {
	left: 15%;
	width: 30px;
	height: 30px;
	animation-delay: 0s;
}
.box-area-dn li:nth-child(2) {
	left: 35%;
	width: 80px;
	height: 80px;
	animation-delay: 4s;
}
.box-area-dn li:nth-child(3) {
	left: 55%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
}
.box-area-dn li:nth-child(4) {
	left: 75%;
	width: 70px;
	height: 70px;
	animation-delay: 1s;
}
.box-area-dn li:nth-child(5) {
	left: 95%;
	width: 40px;
	height: 40px;
	animation-delay: 3s;
}
.box-area-dn li:nth-child(6) {
	left: 15%;
	width: 30px;
	height: 30px;
	animation-delay:5s;
}
.box-area-dn li:nth-child(7) {
	left: 35%;
	width: 80px;
	height: 80px;
	animation-delay: 9s;
}
.box-area-dn li:nth-child(8) {
	left: 55%;
	width: 20px;
	height: 20px;
	animation-delay: 7s;
}
.box-area-dn li:nth-child(9) {
	left: 75%;
	width: 70px;
	height: 70px;
	animation-delay: 6s;
}
.box-area-dn li:nth-child(10) {
	left: 95%;
	width: 40px;
	height: 40px;
	animation-delay: 8s;
}
@keyframes animatedn {
	0% {
		border-radius: 0%;
		background: rgba(255, 255, 255, 0.2);
		/*background: red;*/
		transform: translateY(-680px) rotate(0deg);
		opacity: 1;
	}
	100% {
		border-radius: 80%;
		background: rgba(255, 255, 255, 0.2);
		/*background: yellow;*/
		transform: translateY(0) rotate(360deg);
		opacity: 0;
	}
}
	</style>
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="animation-area">
		<ul class="box-area-up">			
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="box-area-dn">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
           <center> <h3 style="color:white; font-size:40px;">{{ user.username }}'s Albums list</h3></center>
        </div>
        {% if albums %}
            {% for album in albums %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'music:detail' album.id %}">
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ album.album_title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'music:delete_album' album.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <a href="{% url 'music:favorite_album' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'music:create_album' %}">
                   <center><button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button></center>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- If user searches and there are songs -->
    {% if songs %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Songs</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Song Title</th>
                                    <th>Artist</th>
                                    <th>Audio File</th>
                                    <th>Album</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songs %}
                                    <tr>
                                        <td>{{ song.song_title }}</td>
                                        <td>{{ song.album.artist }}</td>
                                        <td>
                                            <a target="_blank" href="{{ song.audio_file.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'music:detail' song.album.id %}">
                                                <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'music:detail' song.album.id %}">{{ song.album.album_title }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
