{% extends 'music/base_visitor.html' %}
<style>
		* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Baloo 2', cursive;
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.banner-text ul {
	height: 50px;
	float: right;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
.banner-text ul li:hover {
	cursor: pointer;
}
.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 25%;
}
.animation-area {
	background: linear-gradient(to left, #8942a8, #ba382f);
	width: 100%;
	height: 100vh;
}
.box-area-up {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area-dn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area-up li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animateup 10s linear infinite;
	top : 104%;
}
/*Moving from down to up*/
.box-area-up li:nth-child(1) {
	left: 5%;
	width: 70px;
	height: 70px;
	animation-delay: 2s;
}
.box-area-up li:nth-child(2) {
	left: 25%;
	width: 20px;
	height: 20px;
	animation-delay: 3s;
}
.box-area-up li:nth-child(3) {
	left: 45%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area-up li:nth-child(4) {
	left: 65%;
	width: 30px;
	height: 30px;
	animation-delay: 1s;
}
.box-area-up li:nth-child(5) {
	left: 85%;
	width: 60px;
	height: 60px;
	animation-delay: 4s;
}

.box-area-up li:nth-child(6) {
	left: 5%;
	width: 70px;
	height: 70px;
	animation-delay: 7s;
}
.box-area-up li:nth-child(7) {
	left: 25%;
	width: 20px;
	height: 20px;
	animation-delay: 9s;
}
.box-area-up li:nth-child(8) {
	left: 45%;
	width: 80px;
	height: 80px;
	animation-delay: 5s;
}
.box-area-up li:nth-child(9) {
	left: 65%;
	width: 30px;
	height: 30px;
	animation-delay: 6s;
}
.box-area-up li:nth-child(10) {
	left: 85%;
	width: 60px;
	height: 60px;
	animation-delay: 8s;
}
@keyframes animateup {
	0% {
		border-radius: 0%;
		/*background: yellow;*/
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		border-radius: 80%;
		/*background: red;*/
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}


/*Moving from up to down*/
.box-area-dn li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: transparent;
	animation: animatedn 10s linear infinite;
	bottom: 10%;
}
.box-area-dn li:nth-child(1) {
	left: 15%;
	width: 30px;
	height: 30px;
	animation-delay: 0s;
}
.box-area-dn li:nth-child(2) {
	left: 35%;
	width: 80px;
	height: 80px;
	animation-delay: 4s;
}
.box-area-dn li:nth-child(3) {
	left: 55%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
}
.box-area-dn li:nth-child(4) {
	left: 75%;
	width: 70px;
	height: 70px;
	animation-delay: 1s;
}
.box-area-dn li:nth-child(5) {
	left: 95%;
	width: 40px;
	height: 40px;
	animation-delay: 3s;
}
.box-area-dn li:nth-child(6) {
	left: 15%;
	width: 30px;
	height: 30px;
	animation-delay:5s;
}
.box-area-dn li:nth-child(7) {
	left: 35%;
	width: 80px;
	height: 80px;
	animation-delay: 9s;
}
.box-area-dn li:nth-child(8) {
	left: 55%;
	width: 20px;
	height: 20px;
	animation-delay: 7s;
}
.box-area-dn li:nth-child(9) {
	left: 75%;
	width: 70px;
	height: 70px;
	animation-delay: 6s;
}
.box-area-dn li:nth-child(10) {
	left: 95%;
	width: 40px;
	height: 40px;
	animation-delay: 8s;
}
@keyframes animatedn {
	0% {
		border-radius: 0%;
		background: rgba(255, 255, 255, 0.2);
		/*background: red;*/
		transform: translateY(-680px) rotate(0deg);
		opacity: 1;
	}
	100% {
		border-radius: 80%;
		background: rgba(255, 255, 255, 0.2);
		/*background: yellow;*/
		transform: translateY(0) rotate(360deg);
		opacity: 0;
	}
}
	</style>
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="animation-area">
		<ul class="box-area-up">			
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="box-area-dn">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default" style="padding:100px;">
               <center> <div class="panel-body">
                    <h3 style="margin-top:5px;">Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-primary btn-lg" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Already have an account? <a href="{% url 'music:login_user' %}">Click here</a> to log in.
                </div></center>
            </div>
        </div>
    </div>

</div>

{% endblock %}

